{% load static %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/cover.css' %}">

</head>

<body class="text-center">
<div class="cover-container d-flex w-50 h-50 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand"><a href = "{% url 'home' %}">택시짱</a></h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
        <a class="nav-link" href="{% url 'issue' %}">Study Git Issue</a>
        <a class="nav-link" href="https://taxijjang.tistory.com">Tistory</a>
        <a class="nav-link" href="https://www.github.com/taxijjang">Github</a>
      </nav>
    </div>
  </header>

  <!--<main role="main" class="inner cover">
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>-->

{% block contents %}

{% endblock %}

</body>